body {
  background-color: lightblue;
}

.left {
  margin-top: 60px;
}

.left img {
  z-index: -100;
}

.right {
  padding-top: 150px;
}

/* .point {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: white;
  position: absolute;
} */

/* #pointA {
  top: 300px;
  left: 100px;
}
#pointB {
  top: 300px;
  left: 200px;
}
#pointC {
  top: 300px;
  left: 300px;
}
#pointD {
  top: 300px;
  left: 400px;
}
#pointE {
  top: 200px;
  left: 125px;
}
#pointF {
  top: 200px;
  left: 300px;
}
#pointG {
  top: 400px;
  left: 250px;
} */

.line {
  position: absolute;
  /* border: 3px solid white; */
}

#lineAB {
  top: 315px;
  left: 150px;
  width: 50px;
  transform: rotate(90deg);
}

#lineAE {
  top: 185px;
  left: 100px;
  width: 60px;
  transform: rotate(90deg);
}

#lineAG {
  top: 450px;
  left: 60px;
  width: 140px;
  transform: rotate(90deg);
}

#lineBE {
  top: 265px;
  left: 190px;
  width: 100px;
  transform: rotate(90deg);
}

#lineGD {
  top: 450px;
  left: 500px;
  width: 100px;
  transform: rotate(90deg);
}

#lineBG {
  top: 400px;
  left: 235px;
  width: 70px;
  transform: rotate(90deg);
}

#lineBC {
  top: 315px;
  left: 315px;
  width: 50px;
  transform: rotate(90deg);
}

#lineCF {
  top: 265px;
  left: 405px;
  width: 58px;
  transform: rotate(90deg);
}

#lineGC {
  top: 400px;
  left: 365px;
  width: 65px;
  transform: rotate(90deg);
}

#lineCD {
  top: 315px;
  left: 470px;
  width: 52px;
  transform: rotate(90deg);
}

#lineDG {
  top: 265px;
  left: 335px;
  width: 95px;
  transform: rotate(90deg);
}

#lineEF {
  top: 185px;
  left: 275px;
  width: 125px;
  transform: rotate(90deg);
}

#lineFD {
  top: 235px;
  left: 525px;
  width: 95px;
  transform: rotate(90deg);
}

.random-number {
  position: absolute;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 700;
  color: rgb(17, 0, 255);
}
